// Display
$flex: flex;

// Alignment:
$align_center: center;
$align_start_text: start;
$align_start: flex-start;
$align_column: column;

// Colors
$green:#337d2f;
$white:#ffffff;
$red: #ff0000;

// Font weight
$bold: bold;

// Font size
$p_size: 16px;

// Size
$size: 0;
$size_m_p: 10px;

// Empty URL
$url: url("");